<div class="row text-center " style="height: 300px;">
    <div class="col-4 bg-primary m-1 rounded d-flex justify-content-center align-items-center">
        <link rel="stylesheet" href="./about-us-upper.component.css">
        <i class="bi bi-plus-square " *ngIf="!selectedImage" (click)="triggerFileInput()"></i>
        <input id="fileInput" #fileInput class="bi bi-plus-square " type="file" accept="image/*"
            (change)="onFileSelected($event)" hidden>
        <div *ngIf="selectedImage">
            <img [src]="selectedImage" class="w-100 p-0 rounded" alt="Pré-visualização da Imagem"
                (click)="triggerFileInput()" />
        </div>

    </div>

    <div class="row col-8">
        <div class=" row container gap-1  flex-nowrap align-items-center bg-primary m-1 p-1 rounded justify-content-end"> 

            <div class="col d-flex overflow-x-auto ">
                <div style="width: 200px; height: 200px;" class=" bg-secondary rounded mx-1 bg-secondary  d-inline-flex justify-content-center rounded " *ngFor="let i of items">
                    <div  style="width: 200px; height: 200px; " class="align-items-center d-flex justify-content-center" >
                        <img [src]="i" class="w-100 p-1 rounded  "    alt="Pré-visualização da Imagem">
    
                    </div>
                </div>
            </div>

         
            <div class="  bg-secondary m-3 mb-4 d-inline-flex justify-content-center align-items-center rounded "
                style="width: 200px; height: 200px;">
                <i class="bi bi-plus-square " (click)="triggerFileInput2()"> </i>
                <input id="fileInput2" #fileInput2 class="bi bi-plus-square " type="file" accept="image/*"
                    (change)="onFileSelected2($event)" hidden>

            </div>


        </div>

        <div class="container bg-primary m-1 p-0 rounded">
            <textarea class="form-control h-100" placeholder="Descrição"></textarea>

        </div>
    </div>

</div>