
<div class="p-5" style="height: 730px;">
  <!-- primeiro componente-->
  <div class="col row gap-2 p-1 ">
      <div class="col p-1 component rounded">
          <app-card-top-stats [num]="1"></app-card-top-stats>
      </div>
      <div class="col p-1 component rounded">
          <app-card-top-stats [num]="2"></app-card-top-stats>
      </div>
      <div class="col p-1 component rounded">
          <app-card-top-stats [num]="3"></app-card-top-stats>
      </div>
      <div class="col col-xl-2 p-1 component rounded">
          <app-card-top-stats [num]="4"></app-card-top-stats>
      </div>




  </div>
  <hr>
  <!-- segundo e terceiro componente-->
  <div class="d-flex row gap-lg-3 col p-1 text-center">
      <div class="d-flex flex-column  col-sm-6 col-lg gap-3 p-lg-1">
          <div class="col">
              <app-card-medium-stats [num]="1"></app-card-medium-stats>
          </div>
          <div class="col">
              <app-card-medium-stats [num]="2"></app-card-medium-stats>
          </div>
      </div>
      <div class="d-flex flex-column mt-3 mt-sm-0 col-sm-6 col-lg gap-3 p-lg-1">
          <div class="col">
              <app-card-medium-stats [num]="3"></app-card-medium-stats>
          </div>
          <div class="col">
              <app-card-medium-stats [num]="4"></app-card-medium-stats>
          </div>
      </div>


      <div class="component col mt-3 mt-lg-0 m-2  m-lg-1  rounded ">
          <app-card-prod-dropdown></app-card-prod-dropdown>
      </div>




  </div>
  <hr>

  <!-- quarto componente-->
  <div>
      <app-card-graph></app-card-graph>

  </div>

</div>
