<header class="sticky-top p-3 bg-white">
  <div class="row d-flex align-items-center mb-3">
    <div class="col-2 display-6">
      <a class="bi bi-arrow-left-circle text-dark"></a>
    </div>
    <h1 class="col-8 d-flex justify-content-center">N° da Comanda</h1>
    <div class="col-2 display-6">
      <a class="bi bi-wallet2 text-dark"></a>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <input type="text" class="form-control bg-body-secondary" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
  </div>
  <hr>
</header>
<div class="d-flex justify-content-center p-2">
  <div>
    <app-menu-item></app-menu-item>
  </div>
</div>
