<footer class="sticky-bottom p-3 pt-1 bg-white">
  <hr>
  <div class="row d-flex align-items-center">
    <div class="col-7">
      <label class="fs-4">Total: R$49.99</label>
      <div *ngIf="showSubTitle">
        <label class="fs-6">Sub-Total: R$39.99</label>
      </div>
    </div>
    <div class="col-5">
      <div *ngIf="showModal">
        <button class="btn btn-primary p-2 w-100 fs-5 rounded-3" (click)="openModal(sendModal)">Enviar</button>
      </div>
      <div *ngIf="!showModal">
        <button class="btn btn-primary p-2 w-100 fs-5 rounded-3" routerLink="/waiter/menu">Enviar</button>
      </div>
    </div>
  </div>
</footer>

<app-modal #sendModal [title]="'Enviar Pedido'" [okTextButton]="'Confirmar'" [cancelTextButton]="'Cancelar'">
  <p>Tem certeza que deseja Enviar o Pedido para Cozinha?</p>
</app-modal>
