<div class="container p-2">
  <h1 class="display-6">Configuração de Mesas</h1>
  <div class="row gap-3">
    <div class="col-2">
      <div class="d-flex align-items-center justify-content-center fs-3 text-center text-white rounded"
        style="background-color: #0EA900; height: 150px; width: 150px;">
        <p class="text-decoration-underline">Balcão</p>
      </div>
    </div>
    <div *ngFor="let e of testArray" class="col-2">
      <div class="d-flex flex-column align-items-center justify-content-center fs-3 text-center text-white rounded"
        style="background-color: #0EA900; height: 150px; width: 150px;">
        <p class="text-decoration-underline">{{e}}</p>
        <div class="d-flex gap-3" [ngClass]="{'mb-5': e != testArray.length}">
          <i *ngIf="e == testArray.length" class="bi bi-trash-fill mt-1"></i>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="d-flex align-items-center justify-content-center fs-3 bg-secondary text-center text-white rounded"
        style="height: 150px; width: 150px;">
        <i class="bi bi-plus-lg"></i>
      </div>
    </div>
  </div>
</div>
