<div class="container mb-5 mt-3">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nameInput"
            [(ngModel)]="user.name"
            name="name"
            placeholder="."
            required
          />
          <label for="nameInput" class="form-label">Nome</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="cpfInput"
            [(ngModel)]="user.login"
            name="login"
            placeholder="."
            required
          />
          <label for="cpfInput" class="form-label">CPF:</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="rgInput"
            [(ngModel)]="user.password"
            name="password"
            placeholder="."
            required
          />
          <label for="rgInput" class="form-label">RG:</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="phoneInput"
            placeholder="."
          />
          <label for="phoneInput" class="form-label">Telefone:</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="input"
            class="form-control"
            id="emailInput"
            placeholder="."
          />
          <label for="emailInput" class="form-label">Email:</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <select
            class="form-select"
            id="floatingSelect"
            [(ngModel)]="user.profile"
            name="profile"
            aria-label="Floating label select example"
          >
            <option value="GARCOM">Garçom</option>
            <option value="CAIXA">Caixa</option>
            <option value="ADMIN">Gerente</option>
          </select>
          <label for="floatingSelect">Função:</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 me-3">Salvar</button>
    <button type="button" class="btn btn-danger mt-3" routerLink="/admin/employees">Cancelar</button>
  </form>
</div>
