<div class="container mb-5 mt-3">
  <form>
    <div class="row">
      <div class="col-12 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nameInput"
            placeholder="."
          />
          <label for="nameInput" class="form-label">Nome</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="cpfInput"
            placeholder="."
          />
          <label for="cpfInput" class="form-label">CPF:</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="rgInput"
            placeholder="."
          />
          <label for="rgInput" class="form-label">RG:</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="phoneInput"
            placeholder="."
          />
          <label for="phoneInput" class="form-label">Telefone:</label>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="form-floating">
          <input
            type="input"
            class="form-control"
            id="emailInput"
            placeholder="."
          />
          <label for="emailInput" class="form-label">Email:</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
          >
            <option value="1">Garçom</option>
            <option value="2">Caixa</option>
          </select>
          <label for="floatingSelect">Função:</label>
        </div>
      </div>
    </div>
    <p>Acesso:</p>
    <p>Usuário: CPF</p>
    <p>Senha Padrão/ Automatica</p>
    <button class="btn btn-primary me-4" routerLink="/admin/employees">
      Salvar
    </button>
    <button class="btn btn-danger me-4" routerLink="/admin/employees">
      Excluir
    </button>
    <button class="btn btn-secondary me-4" routerLink="/admin/employees">
      Voltar
    </button>
  </form>
</div>
