<p></p>

<table class="table">
    <thead>
        <tr>

            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col"> Bloquear</th>
            <th scope="col">Opções</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td>Romulo</td>
            <td><span class="badge text-bg-success">online</span></td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch">
                </div>
            </td>
            <td> <button type="button" class="btn btn-secondary me-1">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
            </button>

        </tr>
        <tr>

            <td>Iara</td>
            <td><span class="badge text-bg-danger">offline</span></td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">

                </div>
            </td>
            <td> <button type="button" class="btn btn-secondary me-1">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </tr>
        <tr>

            <td>Diogenes</td>
            <td><span class="badge text-bg-warning">bloqueado</span></td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch">
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-secondary me-1">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>