<!-- Controle de Paginação -->
<ul class="pagination mb-3">
  <li class="page-item" [class.active]="paginaAtiva === 1">
    <a class="page-link" (click)="mudarPagina(1)">Adicionar Pedido</a>
  </li>
  <li class="page-item" [class.active]="paginaAtiva === 2">
    <a class="page-link" (click)="mudarPagina(2)">Pedidos Existentes</a>
  </li>
</ul>

<!-- Página de Adicionar Pedido -->
<div *ngIf="paginaAtiva === 1">
  <h5>Adicionar Novo Pedido</h5>

  <div class="mb-2">
    <label for="numeroComandaInput" class="form-label">Número da Comanda</label>
    <input type="text" class="form-control form-control-sm" id="numeroComandaInput" [(ngModel)]="numeroComanda" placeholder="Digite o número da comanda">
  </div>

  <div class="mb-2">
    <label for="tipoPedidoSelect" class="form-label">Tipo de Pedido</label>
    <select class="form-select form-select-sm" id="tipoPedidoSelect" [(ngModel)]="tipoPedido">
      <option value="mesa">Mesa</option>
      <option value="balcao">Balcão</option>
    </select>
  </div>

  <div class="mb-2">
    <label for="categoriaSelect" class="form-label">Categoria</label>
    <select class="form-select form-select-sm" id="categoriaSelect" [(ngModel)]="categoriaSelecionada">
      <option value="pratosPrincipais">Prato Principal</option>
      <option value="sobremesas">Sobremesa</option>
      <option value="bebidas">Bebidas</option>
    </select>
  </div>

  <!-- Pesquisa de Produtos -->
  <div *ngIf="categoriaSelecionada" class="mb-2">
    <label for="produtoInputPesquisa" class="form-label">Pesquisar Produto</label>
    <input type="text" class="form-control form-control-sm" [(ngModel)]="pesquisa" placeholder="Digite o nome do produto">

    <div *ngIf="pesquisa">
      <div *ngIf="categoriaSelecionada === 'pratosPrincipais'">
        <div *ngFor="let produto of filtrarProdutos(pratosPrincipais)">
          <h6 class="card-title">{{ produto.nome }}</h6>
          <p class="card-text">R$ {{ produto.preco.toFixed(2) }}</p>
          <button class="btn btn-primary btn-sm" (click)="adicionarProduto(produto)">Adicionar</button>
        </div>
      </div>
      <div *ngIf="categoriaSelecionada === 'sobremesas'">
        <div *ngFor="let produto of filtrarProdutos(sobremesas)">
          <h6 class="card-title">{{ produto.nome }}</h6>
          <p class="card-text">R$ {{ produto.preco.toFixed(2) }}</p>
          <button class="btn btn-primary btn-sm" (click)="adicionarProduto(produto)">Adicionar</button>
        </div>
      </div>
      <div *ngIf="categoriaSelecionada === 'bebidas'">
        <div *ngFor="let produto of filtrarProdutos(bebidas)">
          <h6 class="card-title">{{ produto.nome }}</h6>
          <p class="card-text">R$ {{ produto.preco.toFixed(2) }}</p>
          <button class="btn btn-primary btn-sm" (click)="adicionarProduto(produto)">Adicionar</button>
        </div>
      </div>
    </div>
  </div>

  <h6 class="mt-2">Produtos Adicionados</h6>
  <ul class="list-group mb-2">
    <li *ngFor="let produto of produtosAdicionados" class="list-group-item d-flex justify-content-between">
      {{ produto.quantidade }} x {{ produto.nome }} - R$ {{ (produto.preco * produto.quantidade).toFixed(2) }}
      <button class="btn btn-danger btn-sm" (click)="removerProduto(produto)">Excluir</button>
    </li>
  </ul>

  <button type="submit" class="btn btn-primary w-100 btn-sm" (click)="salvarPedido()">Adicionar Pedido</button>
</div>

<!-- Página de Pedidos Existentes -->
<div *ngIf="paginaAtiva === 2">
  <h5>Pedido 1</h5>
  <ul class="list-group">
    <li *ngFor="let pedido of pedidosExistentes" class="list-group-item">
      <strong>Comanda:</strong> {{ pedido.numeroComanda }} | 
      <strong>Tipo:</strong> {{ pedido.tipoPedido }} | 
      <strong>Produtos:</strong>
      <ul>
        <li *ngFor="let produto of pedido.produtos">
          {{ produto.quantidade }} x {{ produto.nome }} - R$ {{ (produto.preco * produto.quantidade).toFixed(2) }}
        </li>
      </ul>
    </li>
  </ul>
</div>
