<main class="container p-4 vh-100">
  <form class="form-inline d-flex justify-content-center align-items-center p-3 my-2 my-lg-0">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-search"></i>
      </span>
      <input class="form-control search col-6" type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>
    <button class="my-2 my-sm-0 w-50" type="submit">Voltar</button>
  </form>

  <!-- Scroll horizontal nas categorias -->
  <section class="d-flex p-3 overflow-auto gap-2 text-center" style="white-space: nowrap;">
    <div class="card-body bg-grill rounded-4 p-4 d-inline-block" style="width: 150px;">
      <p class="card-text h6">Entradas</p>
    </div>
    <div class="card-body bg-grill rounded-4 p-4 d-inline-block" style="width: 150px;">
      <p class="card-text h6">Prato Principal</p>
    </div>
    <div class="card-body bg-grill rounded-4 p-4 d-inline-block" style="width: 150px;">
      <p class="card-text h6">Bebidas</p>
    </div>
    <div class="card-body bg-grill rounded-4 p-4 d-inline-block" style="width: 150px;">
      <p class="card-text h6">Porções</p>
    </div>
    <div class="card-body bg-grill rounded-4 p-4 d-inline-block" style="width: 150px;">
      <p class="card-text h6">Sobremesa</p>
    </div>
  </section>

  <section class="mt-5">
    <article class="d-flex justify-content-center align-items-center">
      <div class="rounded-circle bg-grill" style="width: 6.5rem; height: 6.5rem;">
        <img src="assets/glasses.png" class="h-50">
      </div>
    </article>
    <article class="text-center">
      <h6 class="mt-2">Qual o pedido de hoje?</h6>
      <p class="text-center w-75 m-auto">Digite alguma palavra relacionada ao produto que você procura</p>
    </article>
  </section>
</main>
