<div *ngIf="selectedCategory">
  <h4 class="display-5 mb-2 ">{{ selectedCategory }}</h4>
  <div class="card mb-3" *ngFor="let product of getProductsForSelectedCategory()">
    <section class=" align-items-center justify-content-center m-auto">
      <article class="">
        <img [src]="product.image" class="img-fluid rounded" alt="item image" />
      </article>
      <section class="">
        <div class="card-body align-items-center">
          <h5 class="card-title">{{ product.name }}</h5>
          <div class="d-flex row align-items-center">
            <div class="">
              <p class="card-text fw-bold h6">{{ product.price | currency: 'BRL' }}</p>
            </div>
            <div class="d-flex mt-2 align-items-center">
              <button
                type="button"
                class="btn btn-primary"
                (click)="openModal(product)"
              >
                Ver mais
              </button>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>

  <app-modal-products [product]="selectedProduct"></app-modal-products>
</div>
