<section class="container mt-3">
  <h1 class="display-6">Categorias</h1>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary me-3">Importar</button>
    <button type="button" class="btn btn-primary">Exportar</button>
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col" class="text-center">Produtos</th>
        <th scope="col">Dept.</th>
        <th scope="col" class="text-center">Disponível</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bebidas</td>
        <td class="text-center">3</td>
        <td>Cozinha</td>
        <td class="d-flex justify-content-center">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-danger">Remover</button>
        </td>
      </tr>
      <tr>
        <td>Pratos</td>
        <td class="text-center">3</td>
        <td>Cozinha</td>
        <td class="d-flex justify-content-center">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-danger">Remover</button>
        </td>
      </tr>
      <tr>
        <td>Sobremesas</td>
        <td class="text-center">1</td>
        <td>Cozinha</td>
        <td class="d-flex justify-content-center">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-danger">Remover</button>
        </td>
      </tr>
      <tr *ngIf="!inputing">
        <td>
          <button type="button" class="btn btn-secondary" (click)="pressInput()">Adicionar</button>
        </td>
      </tr>
      <tr *ngIf="inputing">
        <td>
          <input type="text" class="form-control" placeholder="Digite o nome da categoria">
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" (click)="pressInput()" class="btn btn-success">Add.</button>
            <button type="button" (click)="pressInput()" class="btn btn-danger">Cancel.</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-success me-3">Salvar</button>
  <button type="button" class="btn btn-secondary">Voltar</button>
</section>
