<section class="container mb-5">
  <h1 class="display-6">Produtos</h1>
  <div class="d-flex justify-content-end sticky-top bg-white py-2">
    <button type="button" class="btn btn-primary me-3">Novo</button>
    <button type="button" class="btn btn-primary me-3">Importar</button>
  </div>
  <div class="row">
    <div class="col-2 d-flex gap-5 sticky-top"><!--TODO Make the Sticky-top functional in the categories-->
      <div>
        <h4>Categorias</h4>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">
            Bebidas
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Bebidas
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Bebidas
          </a>
        </div>
        <button type="button" class="btn btn-primary btn-sm mt-3">Novo</button>
      </div>
      <div class="vr"></div>
    </div>
    <div class="col-10">
      <app-category-table></app-category-table>
      <app-category-table></app-category-table>
      <app-category-table></app-category-table>
    </div>
  </div>
</section>
