<section class="container mb-5">
  <h1 class="display-6">Produtos</h1>
  <div class="d-flex justify-content-end sticky-top bg-white py-2">
    <button type="button" class="btn btn-primary me-3" (click)="openModal(modalForm, {fullscreen: true})">Novo</button>
    <button type="button" class="btn btn-primary me-3">Importar</button>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="position-fixed">
        <div class="d-flex gap-5" style="height: 550px;">
          <div>
            <h4>Categorias</h4>
            <div class="list-group list-group-flush">
              <a *ngFor="let c of exampleInfo" href="#" class="list-group-item list-group-item-action">
                {{c.category}}
              </a>
            </div>
            <button type="button" class="btn btn-primary btn-sm mt-3">
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
          <div class="vr"></div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <app-category-table [category]="exampleInfo[0]" (editEmitter)="openModal(modalForm, {fullscreen: true})" (removeEmitter)="openModal(modalDelete)"></app-category-table>
      <app-category-table [category]="exampleInfo[1]" (editEmitter)="openModal(modalForm, {fullscreen: true})" (removeEmitter)="openModal(modalDelete)"></app-category-table>
      <app-category-table [category]="exampleInfo[2]" (editEmitter)="openModal(modalForm, {fullscreen: true})" (removeEmitter)="openModal(modalDelete)"></app-category-table>
    </div>
  </div>
</section>

<app-modal #modalForm [title]="'Criar produto'">
  <app-product></app-product>
</app-modal>

<app-modal #modalDelete [title]="'Deletar Produto'">
  <p>Tem certeza que deseja deletar esse produto</p>
</app-modal>
