<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body class="vh-100 d-flex align-items-center justify-content-center">
  <header class="p-2 fixed-top shadow">
    <div class="row d-flex justify-content-between">
      <div class="col d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-danger d-flex align-items-center">
          <i class="bi bi-door-open" style="font-size: 1.3rem"></i>
          <label class="mx-1">Sair</label>
        </button>
      </div>
      <div class="col d-flex justify-content-center">
        <label class="display-5">Atendimento</label>
      </div>
      <div class="col"></div>
    </div>
  </header>
  <main>
    <section>
      <p class="display-6 text-center">Garçom: Scalet</p>
      <div class="card p-4 rounded-3 shadow">
        <div class="row mb-4">
          <label class="col-12 d-flex align-items-center form-label">Número da Mesa</label>
          <div class="col-12">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mb-5">
          <label class="col-12 d-flex align-items-center form-label">Número da Comanda</label>
          <div class="col-12">
            <input type="text" class="form-control" />
          </div>
        </div>
        <button type="button" class="btn btn-md btn-primary w-100 mb-3">Fazer Pedido</button>
        <button type="button" class="btn btn-md btn-outline-primary w-100">Altera Mesa</button>
      </div>
    </section>
  </main>
</body>