<div class="d-flex">
  <h2>{{category.category}}</h2>
  <button type="button" class="btn">
    <i class="bi bi-pencil-square"></i>
  </button>
</div>
<table class="table table-borderless table-striped mt-3">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Disponivel</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of category.products">
      <td>{{p.name}}</td>
      <td>{{p.price | currency: 'BRL'}}</td>
      <td>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" [checked]="p.active">
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-secondary me-2">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-danger">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
