<div class="d-flex gap-3">
  <h2>Bebidas</h2>
  <button type="button" class="btn btn-secondary btn-sm">Edit.</button> <!--TODO Replace the buttons of the tables with icons-->
</div>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Disponivel</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Coca-cola</td>
      <td>$1</td>
      <td>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch">
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-secondary me-2">Editar</button>
        <button type="button" class="btn btn-danger">Remover</button>
      </td>
    </tr>
    <tr>
      <td>Água</td>
      <td>$1</td>
      <td>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch">
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-secondary me-2">Editar</button>
        <button type="button" class="btn btn-danger">Remover</button>
      </td>
    </tr>
    <tr>
      <td>Itubaína</td>
      <td>$1</td>
      <td>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch">
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-secondary me-2">Editar</button>
        <button type="button" class="btn btn-danger">Remover</button>
      </td>
    </tr>
  </tbody>
</table>
