<div class="d-flex">
  <h2>{{square.square}}</h2>
  <button type="button" class="btn" (click)="editSquare()">
    <i class="bi bi-pencil-square"></i>
  </button>
  <button type="button" class="btn btn-danger" style="margin-left: 80%;" (click)="removeSquare()">
    <i class="bi bi-trash-fill"></i>
  </button>
</div>
<table class="table table-borderless table-striped mt-3">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of square.items">
      <td>{{i.name}}</td>
      <td>
        <button type="button" class="btn btn-secondary me-2" (click)="edit()">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="remove()">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="button" class="btn btn-primary" (click)="add()">
          <i class="bi bi-plus-lg"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
