<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm" style="background-color: #f0f0f0; color: #000;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #DCDCDC;">
          <span style="font-size: 1.2rem; color: #000; font-weight: bold;">
            <i class="bi bi-clock me-1"></i> {{ horaAtual }}
          </span>
          <span style="font-size: 1rem; color: #000;">
            <i class="bi bi-calendar me-1"></i> {{ dataAtual }}
          </span>
        </div>

        <div class="card-body" style="background-color: #ffffff;">
          <form [formGroup]="cashForm">
            <div class="form-group mb-3">
              <label for="registerNumber" class="form-label fw-bold">Número do Caixa Selecionado:</label>
              <select id="registerNumber" class="form-select" formControlName="numeroCaixa">
                <option value="" disabled selected>Selecione um caixa fechado</option>
                <option *ngFor="let caixa of caixasDisponiveis" [value]="caixa">{{ caixa }}</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="initialValue" class="form-label fw-bold">Valor Inicial:</label>
              <input type="number" class="form-control" id="initialValue" placeholder="Digite o valor inicial"
                formControlName="valorInicial" (input)="atualizarTotal()">
            </div>

            <div class="form-group text-center mb-3">
              <p class="fw-bold mb-1">Valor Total da Abertura:</p>
              <p class="h5" id="totalValue">R$ {{ valorTotal | number:'1.2-2' }}</p>
            </div>

            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary btn-lg" (click)="salvarAbertura()">Salvar</button>
              <a class="btn btn-outline-dark btn-lg" [routerLink]="['/checkout/checkout']" [class.disabled]="!podeIrParaPDV">
                Ir para o PDV
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
