<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0 align-items-center justify-content-center p-1">
    <div class="col-4">
      <img src="https://imgs.search.brave.com/AzH3Hiayu2cu1Zf0weJtRa0wxajWBZFA14M7zX47XvY/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3RpL2ZvdG9z/LWdyYXRpcy90Mi8z/MjUwMTIyMC12ZWxv/emVzLWNvbWlkYS1o/YW1idXJndWVyLWZ1/bmRvLWltYWdlbS1h/aS1nZW5lcmF0aXZv/LWZvdG8uanBn" class="img-fluid rounded-start" alt="item image">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Nome do Produto</h5>
        <p class="card-text">Descrição simples do produto.</p>
        <div class="row">
          <div class="col-5">
            <p class="card-text fw-bold">R$ 100,00</p>
          </div>
          <div class="col-7">
            <div class="input-group mb-3">
              <button class="btn btn-danger" type="button" id="minusButton">-</button>
              <input type="text" class="form-control text-center" placeholder="0">
              <button class="btn btn-success" type="button" id="plusButton">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
