<main class="d-flex min-vh-100 align-items-center">
  <article class="col col-lg-5 mx-auto px-5 text-center">
    <header class="pb-2">
      <img src="assets/image.png" style="height: 150px;" class="img mx-auto d-block" alt="imagem demonstrativa">
      <h1 class="display-6 py-3">Nome do Restaurante</h1>
    </header>
    <section class="row gap-3 pb-4">
      <div>
        <button type="button" class="btn btn-success w-100 p-3"><strong>Acessar o cardápio</strong></button>
      </div>
      <!-- <div>
        <button type="button" class="btn btn-outline-primary w-100 py-2">Facebook do restaurante</button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-dark w-100 p-2">Instagram do restaurante</button>
      </div> -->
    </section>
  </article>
</main>
