<main class="container p-4 vh-100">
  <header class="mb-3">
    <div class="text-center">
      <h1 class="display-6">SOBRE NÓS</h1>
    </div>
  </header>
  <section class="p-4">
    <div class="card-body text-center">
      <img src="..." class="rounded mx-auto d-block bg-grill mb-3" style="width: 15rem; height: 10rem;" alt="...">
      <p class="card-text">Queremos representar as receitas das famílias paulistanas, contar essa história, remontar a
        origem das mesa cheia, família reunida, comida compartilhada e bons momentos.</p>
    </div>
  </section>
  <article class="card-body rounded mx-auto d-block bg-grill p-5 mb-3">
    <p class="card-title fw-bold">Almoço</p>
    <p class="card-text"><small class="text-muted">Segunda a Sexta das 12h às 15h</small></p>
  </article>
  <section class="card-body rounded mx-auto d-block bg-grill p-5">
    <header>
      <h1 c lass="h5">Horário de funcionamento:</h1>
    </header>
    <div>
      <p class="card-title fw-bold">Almoço</p>
      <p class="card-text"><small class="text-muted">Sábado e Domingo das 12:15h às 15h</small></p>
    </div>
    <div>
      <p class="card-title fw-bold">Brunch</p>
      <p class="card-text"><small class="text-muted">Sábado e Domingo das 12:15h às 15h</small></p>
    </div>
    <div>
      <p class="card-title fw-bold">Jantar</p>
      <p class="card-text"><small class="text-muted">Terça a Sábado das 19h às 23h</small></p>
    </div>
  </section>
</main>
