<main class="container p-4 vh-100">
  <header class="mb-3">
      <i class="bi bi-chevron-compact-left" style="font-size: 24px;" [routerLink]="['/costumer']"></i>
    <div class="text-center">
      <h1 class="title d-6 fw-bold">SOBRE NÓS</h1>
    </div>
  </header>
  <section class="p-3">
    <div class="card-body text-center">
      <img src="../../../../../assets/ImagemRest.jpg" class="rounded mx-auto d-block bg-grill mb-3" style="width: 20rem; height: 10rem;" alt="...">
     <div class="card-text d-flex">
    <i class="bi bi-info-lg" style="margin-top: -2px;"></i>
    <h6 class="mb-0">Queremos representar as receitas das famílias paulistanas, contar essa história, remontar a origem das mesa cheia, família reunida, comida compartilhada e bons momentos.</h6>
      </div>
    </div>
  </section>
  <article class="card-bodyy mx-auto d-block p-3 mb-4 d-flex flex-column align-items-start mt-2">
    <div class="d-flex align-items-center mb-2">
        <i class="bi bi-pin-map-fill" style="margin-right: 5px;"></i>
        <p class="card-title fw-bold mb-0">Localização</p>
    </div>
    <p class="card-text"><small class="text-muted">Alameda Santos, 2233, São Paulo - SP 01419-002</small></p>
</article>

  <section class="card-bodyy mx-auto p-4 d-flex flex-column align-items-start mt-4">
    <header class="d-flex align-items-center mb-2">
      <i class="bi bi-clock-fill" style="margin-right: 5px; margin-top: -8px;" ></i>
      <h6 class="fw-bold">Horário de funcionamento:</h6>
    </header>
    <div>
      <p class="card-title fw-bold" style="font-style: italic;">Almoço</p>
      <p class="card-text"><small class="text-muted">Sábado e Domingo das 12:15h às 15h</small></p>
    </div>
    <div>
      <p class="card-title fw-bold" style="font-style: italic;">Brunch</p>
      <p class="card-text"><small class="text-muted">Sábado e Domingo das 12:15h às 15h</small></p>
    </div>
    <div>
      <p class="card-title fw-bold" style="font-style: italic;">Jantar</p>
      <p class="card-text"><small class="text-muted">Terça a Sábado das 19h às 23h</small></p>
    </div>
  </section>
</main>
