<div class="container d-flex justify-content-center p-5">
  <div class="card text-center shadow" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">Easy-Coast</h2>
      <div class="mb-3">
        <label for="userInput" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="userInput">
      </div>
      <div class="mb-3">
        <label for="pwdInput" class="form-label">Senha</label>
        <input type="text" class="form-control" id="pwdInput">
      </div>
      <!--TODO Make the system to just let it pass if the authentication is successful-->
      <button type="button" class="btn btn-primary" routerLink="/admin/products/">Entrar</button>
    </div>
  </div>
</div>
