<div class="card p-3 my-3 rounded-2 shadow-sm" *ngFor="let i of prods">
    <div class="row d-flex align-items-center">
        <div class="col-7 me-auto">
            <label class="fs-5">{{ i.name }}</label>
            <br>
            <label class="fs-6">+ R$ {{ i.price }}</label>
        </div>
        <div class="col-5 fs-5 text-end">
            <a class="bi bi-dash-circle me-2 text-dark"></a>
            <label for="">0</label>
            <a class="bi bi-plus-circle ms-2 text-dark"></a>
        </div>
    </div>
</div>