<div class="container mt-4">
  <div class="row">
    <!-- Coluna da Comanda -->
    <div class="col-md-6">
      <!-- Comanda -->
      <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="comanda-title" style="font-size: 1.2rem;">Comanda 1</h2>
        </div>
        <div class="form-group">
          <label for="comanda1">Número da Comanda:</label>
          <input type="number" class="form-control form-control-sm" id="comanda1" name="comanda1" value="1" readonly>
        </div>

        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Qtd</th>
              <th>V. Uni</th>
              <th>Adic.</th>
              <th>Valor</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems1; let i = index">
              <td>{{ item.name }}</td>
              <td>
                <ng-container *ngIf="!item.editingQuantity; else editQuantityInput">
                  <!-- Exibe a quantidade original e o histórico -->
                  <span>{{ item.quantity }}</span>
                  <span *ngIf="item.previousQuantity" class="text-muted ms-2">(Histórico: {{ item.previousQuantity }})</span>
                  <button class="btn btn-outline-secondary btn-sm ms-2" (click)="toggleEditQuantity(item)">
                    <i class="bi bi-pencil"></i>
                  </button>
                </ng-container>
                <ng-template #editQuantityInput>
                  <!-- Exibe o campo de edição com a nova quantidade -->
                  <div class="d-flex align-items-center">
                    <span class="text-muted me-2">Histórico: {{ item.previousQuantity }}</span> <!-- Exibe a quantidade antiga -->
                    <input 
                      type="number" 
                      class="form-control form-control-sm d-inline-block w-50 me-2" 
                      [(ngModel)]="item.newQuantity">
                    <button class="btn btn-success btn-sm ms-2" (click)="saveNewQuantity(item)">Salvar</button>
                    <button class="btn btn-secondary btn-sm ms-1" (click)="cancelEditQuantity(item)">Cancelar</button>
                  </div>
                </ng-template>
              </td>
              <td>R$ {{ item.unitPrice.toFixed(2) }}</td>
              <td>R$ {{ item.additional.toFixed(2) }}</td>
              <td>R$ {{ (item.unitPrice + item.additional) * item.quantity | number: '1.2-2' }}</td>
              <td>
                <ng-container *ngIf="!item.removed; else removedMessage">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Razão da remoção" [(ngModel)]="item.removalReason">
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="markAsRemoved(item)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </ng-container>
                <ng-template #removedMessage>
                  <span class="text-danger">Item excluído</span>
                </ng-template>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-end"><strong>Total:</strong></td>
              <td>R$ {{ calculateTotal(orderItems1) | number: '1.2-2' }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- Coluna de Ações -->
    <div class="col-md-6">
      <!-- Adicionar Comanda -->
      <div class="form-group mb-3">
        <label for="add-comanda">Adicionar Comanda:</label>
        <div class="input-group">
          <input type="number" class="form-control form-control-sm" id="add-comanda" name="add-comanda" placeholder="Número da comanda" [(ngModel)]="newComandaNumber">
          <button class="btn btn-success btn-sm" type="button" (click)="addComanda(newComandaNumber)">Adicionar</button>
        </div>
      </div>

      <!-- Escanear Produto -->
      <div class="form-group mb-3">
        <label for="scan-code">Escanear pelo Código de Barras:</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" id="scan-code" name="scan-code" placeholder="Ex: 0000" [(ngModel)]="scannedCode" autofocus>
          <button class="btn btn-success btn-sm" type="button" (click)="scanProduct(scannedCode)">Escanear</button>
        </div>
      </div>

      <!-- Forma de Pagamento -->
      <div class="form-group mb-3">
        <label for="payment">Forma de Pagamento:</label>
        <select class="form-select form-select-sm" id="payment" name="payment" [(ngModel)]="selectedPaymentMethod">
          <option value="credit">Crédito</option>
          <option value="debit">Débito</option>
          <option value="pix">PIX</option>
          <option value="dinheiro">Dinheiro</option>
        </select>
      </div>

      <!-- Gorjeta -->
      <div class="form-group mb-3">
        <label for="fixed-tip">Gorjeta (15%):</label>
        <p id="fixed-tip" style="font-size: 0.9rem;">Valor da gorjeta: R$ {{ calculateTip(totalAmount) | number: '1.2-2' }}</p>
      </div>

      <!-- Valor Total -->
      <div class="form-group mb-3">
        <label for="total-amount">Valor Total:</label>
        <input type="text" class="form-control form-control-sm" id="total-amount" name="total-amount" [value]="calculateTotalAmount()" readonly>
      </div>

      <!-- Botão Finalizar -->
      <button type="button" class="btn btn-primary btn-sm" (click)="finalizePayment()">Finalizar</button>
    </div>
  </div>
</div>
