

    <div class="col-md-6 border p-4 rounded shadow">
      <h2 class="display-6 text-center mb-4">Comandas em Aberto</h2>
      <table class="table table-striped table-borderless">
        <thead class="table-secondary">
          <tr>
            <th>Comanda</th>
            <th>Total</th>
            <th>Horário</th>
            <th>Tipo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>R$ 25,00</td>
            <td>19:00</td>
            <td>Balcão</td>
            <td>
              <button class="btn btn-secondary">
                <i class="bi bi-highlighter"></i>
              </button>
              <button class="btn btn-warning">Checkout</button>
            </td>
          </tr>
          <nav aria-label="..."></nav>
  <ul class="pagination pagination-sm">
    <li class="page-item active" aria-current="page">
      <span class="page-link">1</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
        </tbody>
      </table>
    </div>


  <div class="row justify-content-center mb-4">
    <div class="col-md-6 border p-4 rounded shadow me-2">
      <h2 class="display-6 text-center mb-4">Comandas Fechadas</h2>
      <table class="table table-striped table-borderless">
        <thead class="table-secondary">
          <tr>
            <th>Comanda</th>
            <th>Total</th>
            <th>Fechamento</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>124</td>
            <td>R$ 30,00</td>
            <td>18:30</td>
            <td>Balcão</td>
          </tr>  <ul class="pagination pagination-sm">
            <li class="page-item active" aria-current="page">
              <span class="page-link">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>

        </tbody>
      </table>
    </div>

    <div class="col-md-6 border p-4 rounded shadow">
      <h3 class="text-center">Adicionar Dinheiro ao Caixa</h3>
      <form>
        <div class="mb-3">
          <label for="valorAdicionado" class="form-label">Valor a adicionar</label>
          <input type="text" class="form-control" id="valorAdicionado" placeholder="R$ 0,00">
        </div>
        <button type="submit" class="btn btn-success w-100">Adicionar</button>
      </form>
    </div>
  </div>


    <app-modal #modalOrder [title]="'Editar Registro'">
      <app-order-register></app-order-register>
    </app-modal>

