<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 border p-3">
      <h2 class="display-6">Pedidos</h2>
      <table class="table table-striped table-borderless">
        <thead class="table-secondary">
          <tr>
            <th>Pedido ID</th>
            <th>Tipo de Pedido</th>
            <th>Nome do Cliente</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.tipoPedido }}</td>
            <td>{{ pedido.nomeCliente }}</td>
            <td>
              <button class="btn btn-secondary"><i class="bi bi-highlighter"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 border p-3">
      <h2>Registro de Pedido</h2>
      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="tipoPedido">Tipo de Pedido</label>
            <select class="form-control" id="tipoPedido">
              <option value="balcao">Balcão</option>
              <option value="mesa">Mesa</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="nomeCliente">Nome do Cliente</label>
            <input type="text" class="form-control" id="nomeCliente">
          </div>
          <div class="form-group col-md-3">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria">
              <option value="pratoPrincipal">Prato Principal</option>
              <option value="sobremesa">Sobremesa</option>
              <option value="bebida">Bebida</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <div class="mb-3">
                <label for="exampleFormControl" class="form-label">Observações</label>
                <textarea class="form-control" id="exampleFormControl" rows="1"></textarea>
                <div class="form-group col-md-2">
                  <button class="btn btn-primary" id="adicionar">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-info">Fazer Pedido no Balcão</button>
            <button class="btn btn-warning">Fazer Checkout</button>
          </div>
      </form>
    </div>
  </div>
</div>