<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="close" viewBox="0 0 16 16">
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
  </symbol>
  <symbol id="home" viewBox="0 0 16 16">
    <path
      d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
  </symbol>
  <symbol fill="currentColor" id="food" viewBox="0 0 16 16">
    <path
      d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793zM1 9V6h14v3zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5m0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5m0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5" />
  </symbol>
  <symbol id="search" viewBox="0 0 16 16">
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
  </symbol>
</svg>

<main class="d-flex flex-column vh-100">
  <div class="flex-grow-1 d-flex justify-content-center align-items-center">
    <h1>Conteúdo Principal</h1>
  </div>
  <nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
      <ul class="nav nav-pills text-center m-auto gap-5">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeItem === 0" (click)="setActiveItem(0)">
            <svg class="bi pe-none" width="22" height="22">
              <use xlink:href="#home" />
            </svg>
            <!-- Home -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeItem === 1" (click)="setActiveItem(1)">
            <svg class="bi bi-search" width="22" height="22">
              <use xlink:href="#search" />
            </svg>
            <!-- Pesquisa -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeItem === 2" (click)="setActiveItem(2)">
            <svg class="bi pe-none" width="22" height="22">
              <use xlink:href="#food" />
            </svg>
            <!-- Sobre Nós -->
          </a>
        </li>
      </ul>
    </div>
  </nav>
</main>
