<div class="container d-flex justify-content-center p-2">
  <div class="row">
    <h1 class="display-5 text-center mb-3">Easy Coast</h1>
    <h5 class="text-center">Modulos:</h5>
    <div class="d-flex align-items-center flex-column mb-3">
      <button type="button" class="btn btn-primary mb-3" style="width: 30%;" routerLink="/admin/products">Admin</button>
      <button type="button" class="btn btn-primary mb-3" style="width: 30%;">Caixa</button>
      <button type="button" class="btn btn-primary mb-3" style="width: 30%;" routerLink="/costumer">Cliente</button>
      <button type="button" class="btn btn-primary mb-3" style="width: 30%;" routerLink="/waiter">Garçom</button>
    </div>
  </div>
</div>
