<header class="text-center bg-white shadow-sm">
    <div class="position-relative d-inline-block">
        <img src="https://www.minhareceita.com.br/app/uploads/2021/10/SEA-0092-FOTOS-RECEITAS-INCRIVEL-SEARA-01-2.jpg"
            class="card-img-top w-100 h-auto">
        <div class="overlay"></div>
    </div>
    <div class="card-img-overlay mx-3">
        <div class="row mt-3">
            <div class="col-2 display-6">
                <a class="bi bi-arrow-left-circle text-light"></a>
            </div>
            <div class="col-8 text-light">
                <label class="fs-5">Macarrão Bolonhesa</label>
                <label class="fs-6">R$39.99</label>
            </div>
            <div class="col-2 display-6">
                <a class="bi bi-wallet2 text-light"></a>
            </div>
        </div>
    </div>
</header>