<header class="text-center bg-white shadow-sm">
    <div class="position-relative d-inline-block">
        <img src="https://www.minhareceita.com.br/app/uploads/2021/10/SEA-0092-FOTOS-RECEITAS-INCRIVEL-SEARA-01-2.jpg"
            class="card-img-top w-100 h-auto">
        <div class="overlay"></div>
    </div>
    <div class="card-img-overlay mx-3">
        <div class="row d-flex align-items-center my-3">
            <div class="col-2 display-6">
                <a class="bi bi-arrow-left-circle text-light"></a>
            </div>
            <label class="col-8 d-flex justify-content-center fs-4 text-light">Macarrão Bolonhesa</label>
            <div class="col-2 display-6">
                <a class="bi bi-wallet2 text-light"></a>
            </div>
        </div>
    </div>
</header>