<div class="text-center bg-white shadow-sm">
    <div class="position-relative d-inline-block">
        <img src="https://assets.unileversolutions.com/recipes-v2/111189.jpg" class="card-img-top img-fluid">
        <div class="overlay"></div>
    </div>
    <div class="card-img-overlay mx-3">
        <div class="row mt-3">
            <div class="col-2 display-6">
                <a class="bi bi-arrow-left-circle text-light"></a>
            </div>
            <div class="col-8 text-light">
                <label class="fs-5">Hambúrguer Mexicano</label>
                <p class="fs-6">R$49.99</p>
            </div>
            <div class="col-2 display-6">
                <a class="bi bi-wallet2 text-light"></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class="mx-1 my-3">
        Hambúrguer no macio pão australiano, com suculenta carne grelhada, queijo derretido e uma cremosa camada de
        guacamole fresco. Finalizado com maionese artesanal para equilibrar os sabores. Simplesmente irresistível!
    </p>
    <hr>
</div>