<div class="col-md-12 border p-3 rounded shadow ms-2">
    <form>
      <!-- Pergunta de Confirmação -->
      <div class="mb-4">
        <label for="valorAdicionado" class="form-label">Deseja fazer a confirmação das alterações?</label>
      </div>
  
      <!-- Botões de Confirmação -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success btn-sm w-48">Sim</button>
        <button type="submit" class="btn btn-danger btn-sm w-48">Não</button>
      </div>
    </form>
  </div>
  