<main>
    <app-navbar></app-navbar>
    <section>
        <div class="container">
            <hr>
            <p class="mx-1" style="text-align: justify;">
                Feito com carne moída selecionada, tomates frescos e ervas, o molho é cozido lentamente para
                intensificar os sabores. Servido com massa al dente e finalizado com parmesão fresco, é uma
                autêntica experiência italiana em cada garfada
            </p>
            <hr>
            <app-order-addons></app-order-addons>
            <app-order-addons></app-order-addons>
            <app-order-addons></app-order-addons>
            <app-order-addons></app-order-addons>
        </div>
    </section>
    <app-total></app-total>
</main>